.mainGrid {
  display: grid;
  gap: 3rem;
  margin-bottom: 3rem;
}

.leftColumn {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.rightColumn {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

@media (min-width: 768px) {
  .mainGrid {
    grid-template-columns: repeat(12, 1fr);
  }
  .leftColumn {
    grid-column: span 7;
    display: flex;
    flex-direction: column;
    gap: 5rem;
  }
  .rightColumn {
    grid-column: span 5;
    display: flex;
    flex-direction: column;
    gap: 5rem;
  }
}
