.jsonBox {
  border: 1px solid #262626;
  background-color: #0a0a0a;
  padding: 1.5rem;
  font-size: 0.875rem;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}
.sectionHeader {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
  border-bottom: 1px solid #262626;
  padding-bottom: 0.5rem;
}

.timeline {
  border-left: 1px solid #262626;
  margin-left: 0.75rem;
  padding-left: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: relative;
}

.timelineItem {
  position: relative;
}

.timelineDot {
  position: absolute;
  left: -30px; /* Adjust based on padding/border */
  top: 6px;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: 1px solid #000;
  background-color: #525252;
}

.versionBadge {
  font-size: 0.625rem;
  font-weight: 700;
  background-color: #171717;
  color: #fff;
  padding: 0.125rem 0.375rem;
  border: 1px solid #404040;
  margin-right: 0.5rem;
}

.timelineDate {
  font-size: 0.625rem;
  color: #737373;
}

.textGreen {
  color: #22c55e;
}
.textBlue {
  color: #60a5fa;
}
.textYellow {
  color: #ca8a04;
}
.textGray {
  color: #737373;
}
.textWhite {
  color: #fff;
}
