.section {
  padding: 2rem 2rem 1rem 2rem;
}

.inner {
  max-width: 720px;
  margin: 0 auto;
}

.imgContainer {
  width: 70px;
  height: 70px;
  border-radius: 100%;
  overflow: hidden;
  border: 2px solid var(--accent);
  cursor: pointer;
  transition: transform 0.2s ease;
}

.imgContainer:hover {
  transform: scale(1.05);
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spin {
  animation: spin 4s linear infinite;
  animation-play-state: paused;
}

.playing {
  animation-play-state: running;
}

.container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.img {
  width: 100%;
}

.ctrlBtn {
  background-color: inherit;
  border: none;
  cursor: pointer;
  color: gray;
}

.ctrlBtn:hover {
  color: black;
}
